@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "om-dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  /* ---------- Base ---------- */

  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(98% 0 0);

  /* ---------- Brand ---------- */

  --color-primary: oklch(79% 0.209 151.711);
  --color-primary-content: oklch(8% 0 0);

  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(98% 0 0);

  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(8% 0 0);

  /* ---------- Neutral ---------- */

  --color-neutral: oklch(18% 0 0);
  --color-neutral-content: oklch(98% 0 0);

  /* ---------- States ---------- */

  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(98% 0 0);

  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(8% 0 0);

  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(8% 0 0);

  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(98% 0 0);

  /* ---------- Radius ---------- */

  --radius-selector: 0.6rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  /* ---------- Sizes ---------- */

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* ---------- Border ---------- */

  --border: 1px;

  /* ---------- Effects ---------- */

  --depth: 1;
  --noise: 0;
}
